spring:
  config:
    activate:
      on-profile: local

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:board;
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: '/h2'

  sql:
    init:
      mode: embedded
      schema-locations: classpath*:/sql/schema.sql
      data-locations: classpath*:/sql/data.sql
  jpa:
    generate-ddl: false
    hibernate:
      ddl-auto: none